[submodule "bionic"]
	path = bionic
	url = git://github.com/CyanogenMod/android_bionic

[submodule "external/busybox"]
	path = external/busybox
	url = git://github.com/CyanogenMod/android_external_busybox 
