on early-init
    start ueventd

on init

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /dbdata
    mkdir /mnt 0775 root root
    #mount /tmp /tmp tmpfs   

on early-fs
	insmod /lib/modules/vibrator.ko
 
    mount ext4 /dev/block/mmcblk0p13 /system ro wait noatime

	mkdir /data/log 0777

	chmod 0666 /dev/log/radio
	chmod 0666 /dev/log/main
	chmod 0666 /dev/log/event    

on boot
#	write /sys/class/sec/switch/usb_sel PDA

# CPU Frequency Governor
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor pegasusq

# EHCI runtime enable for LPA
	write /sys/devices/platform/s5p-ehci/power/control auto

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service debuggerd /system/bin/debuggerd

	service ueventd /sbin/ueventd
    	critical

#service console /bin/sh
service console /system/bin/sh
	console

service playlpm /system/bin/playlpm
    	user root

service immvibed /system/bin/immvibed 
	oneshot

service lpmkey /system/bin/lpmkey
    	user root

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

