on emmc

    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /devlog 0700 root root
	devwait emmc@system
	mount ext4 emmc@system /system rw data=ordered
	mkdir /system/lib 0771 system system
	devwait emmc@lib
	mount ext4 emmc@lib /system/lib ro data=ordered
	mount ext4 emmc@system /system remount ro
	devwait emmc@userdata
	mount ext4 emmc@userdata /data noatime nosuid nodev nodelalloc
	devwait emmc@cache
	mount ext4 emmc@cache /cache noatime nosuid nodev nodelalloc
 	devwait emmc@devlog
	mount ext4 emmc@devlog /devlog noatime nosuid nodev nodelalloc

on early-init
    device mtd@misc 0460 radio diag
	exec /system/bin/logwrapper /system/bin/htc_ext4_fsck

on init
    # double check the perms and set owner
    chown root root /devlog
    chmod 0700 /devlog

    #set G-Sensor and Compass permissions
    chown compass system /dev/akm8975_aot
    chown compass system /dev/akm8975_daemon
    chown compass system /dev/bma150
    chmod 0640 /dev/akm8975_aot
    chmod 0640 /dev/akm8975_daemon
    chmod 0640 /dev/bma150

on boot
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state
    
    # Widevine DRM
	chown drm system /dev/htcdrm
	chmod 0660 /dev/htcdrm
    
    # bluetooth MAC address programming
    chown bluetooth bluetooth /sys/module/board_saga/parameters/bdaddr
    setprop ro.bt.bdaddr_path /sys/module/board_saga/parameters/bdaddr
    # bluetooth car dock pin
    chown system system /sys/class/switch/dock/bt_pin

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/color
    chown system system /sys/class/leds/jogball-backlight/period
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    #set radio_feedback permissions
    chown radio radio /dev/radio_feedback
    chmod 0660 /dev/radio_feedback

	# Permissions for modem link
	chown system system /sys/module/serial/parameters/modem_enabled
	chown system system /dev/ttyHSUSB0
	chown system system /dev/ttySA0
	chown system system /dev/smd9

	# for Flip to speaker 
	chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
	chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

	# for Optical sensors
	chown system system /sys/class/optical_sensors/lightsensor/ls_adc
	chown system system /sys/class/optical_sensors/lightsensor/ls_auto
	chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
	chown system radio /sys/class/optical_sensors/proximity/ps_adc
	chown system system /sys/class/optical_sensors/proximity/ps_kadc
	chown system system /sys/class/optical_sensors/proximity/ps_led
	chown system system /sys/class/optical_sensors/proximity/ps_test_mode

	# Discretix DRM
	mkdir /data/DxDrm
	mkdir /data/DxDrm/fuse
	mkdir /data/DxDrm/Credentials
	mkdir /data/DxDrm/Credentials/PlayReady
	chmod 555 /data/DxDrm
	copy /etc/DxPrdyProvisionObf.pkg /data/DxDrm/Credentials/PlayReady/DxPrdyProvisionObf.pkg
	copy /etc/DxDrmConfig_Server.txt /data/DxDrm/DxDrmConfig_Server.txt

    # Load kineto_gan.ko while booting
    insmod /system/lib/modules/kineto_gan.ko

#service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -puse_p2p_group_interface=1
service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
	disabled
	oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
	disabled
	oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
	disabled
	oneshot

service iprenew_p2p /system/bin/dhcpcd -n
	disabled
	oneshot

# compass/accelerometer daemon
service akmd /system/bin/akmd
    user compass
    group compass misc input

# bugreport is triggered by the KEY_VOLUMEUP and KEY_VOLUMEDOWN keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 114 115

#service hciattach /system/bin/brcm_patchram_plus --enable_hci --patchram /etc/firmware/bcm4329.hcd /dev/ttyHS0
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled

# Make sure we startup btld before hcid
# Set target address to emulator host loopback IF
# Limit baudrate to 460800 to ensure reliable uart operation
service btld /system/bin/btld -lpm 1 -hb 3000000
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

# for USB internet sharing
service udhcpd /system/bin/udhcpd
	disabled
	oneshot

service netsharing_on /system/bin/netsharing net on
	disabled
	oneshot

service netsharing_off /system/bin/netsharing net off
	disabled
	oneshot

service netsharing_pass /system/bin/netsharing net_pass on
	disabled
	oneshot

service srv_ser2net /system/bin/ser2net -n
    disabled

on property:service.ser2net.enable=1
    start srv_ser2net

on property:service.ser2net.enable=0
    stop srv_ser2net

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p13 /dev/block/mmcblk0p14
		class core
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

on property:init.svc.bootanim=stopped
    start qcom-post-boot
    # Overwrite ActivityManager's low memory killer setting
    write /sys/module/lowmemorykiller/parameters/adj 0,2,4,7,9,12
    write /sys/module/lowmemorykiller/parameters/minfree 6348,8089,9830,11878,13619,16793
    write /sys/module/lowmemorykiller/parameters/minfile 6348,8089,9830,11878,13619,16793
    write /sys/module/lowmemorykiller/parameters/check_filepages 1
    # Protect more low memory pages
    write /proc/sys/vm/min_free_kbytes 4096

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

service zchgd_offmode /system/bin/zchgd -pseudooffmode                                                                        
    user root
    disabled

service zchgd_onmode /system/bin/zchgd -onmode
    user root
    oneshot

service clockd /system/bin/clockd

service qb_offmode_alarm /system/bin/qb_offmode_alarm
    user root
    disabled
    oneshot

# for modem link
service modem /system/xbin/wireless_modem
    user system
    group system radio
    disabled

# for modem link
on property:service.modem.enable=1
	start modem

# for modem link
on property:service.modem.enable=0
	stop modem

service htc_ebdlogd /system/bin/htc_ebdlogd -s -k -P 7
    user root
    disabled
    oneshot
    ioprio idle 0

service htc_ebdlogd_rel /system/bin/htc_ebdlogd -s -k
    user root
    disabled
    oneshot
    ioprio idle 0

# Discretix DRM
service dx_drm_server /system/bin/DxDrmServerIpc -f -o allow_other /data/DxDrm/fuse

on property:ro.build.tags=test-keys
    start htc_ebdlogd

on property:ro.build.tags=release-keys
    start htc_ebdlogd_rel

# added for VoIP on 20100629
export BOOTCLASSPATH=$BOOTCLASSPATH:/system/framework/com.htc.viplib.jar
	# This will grant permission for LMI Rescue Start Server  
  chown graphics /RescueStarter
  chmod 755 /RescueStarter
  chown graphics /RescueServer
  chmod 755 /RescueServer

  
	# This will start LMI Rescue Start Server
	service RescueStarter /system/bin/RescueStarter
      class core
      user graphics
      group input graphics	# This will grant permission for LMI Rescue Start Server  
  chown graphics /RescueStarter
  chmod 755 /RescueStarter
  chown graphics /RescueServer
  chmod 755 /RescueServer

  
	# This will start LMI Rescue Start Server
	service RescueStarter /system/bin/RescueStarter
      class core
      user graphics
      group input graphics