
# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    setprop sys.usb.state $sys.usb.config

# adb only USB configuration
# This should only be used during device bringup
# and as a fallback if the USB manager fails to set a standard configuration
on property:sys.usb.config=adb
#   write /sys/class/android_usb/android0/enable 0
#   write /sys/class/android_usb/android0/idVendor 18d1
#   write /sys/class/android_usb/android0/idProduct D002
#   write /sys/class/android_usb/android0/functions $sys.usb.config
#   write /sys/class/android_usb/android0/enable 1
#
#   write /sys/devices/platform/android_usb/usb_function_switch 3
    start adbd
    write /sys/class/android_usb/android0/f_adb/on 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 3
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    write /sys/devices/platform/android_usb/usb_function_switch 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 11
    setprop sys.usb.state $sys.usb.config

#without adb
on property:sys.usb.config=mass_storage,diag
    write /sys/devices/platform/android_usb/usb_function_switch 9
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2059
    setprop sys.usb.state $sys.usb.config

#without adb
on property:sys.usb.config=mass_storage,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2057
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb,diag,modem,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6411
    setprop sys.usb.state $sys.usb.config

#without adb
on property:sys.usb.config=mass_storage,diag,modem,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 6409
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb,diag,modem,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4363
    setprop sys.usb.state $sys.usb.config

#without adb
on property:sys.usb.config=mass_storage,diag,modem,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 4361
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=diag,modem,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 6408
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=diag,modem,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 4360
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb,diag,modem,modem_mdm,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 22795
    setprop sys.usb.state $sys.usb.config

#without adb
on property:sys.usb.config=mass_storage,diag,modem,modem_mdm,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 22793
    setprop sys.usb.state $sys.usb.config

# USB accessory configuration
on property:sys.usb.config=accessory
#    write /sys/class/android_usb/android0/enable 0
#    write /sys/class/android_usb/android0/idVendor 18d1
#    write /sys/class/android_usb/android0/idProduct 2d00
#    write /sys/class/android_usb/android0/functions $sys.usb.config
#    write /sys/class/android_usb/android0/enable 1
    write /sys/devices/platform/android_usb/usb_function_switch 8192
    setprop sys.usb.state $sys.usb.config

# USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb
#    write /sys/class/android_usb/android0/enable 0
#    write /sys/class/android_usb/android0/idVendor 18d1
#    write /sys/class/android_usb/android0/idProduct 2d01
#    write /sys/class/android_usb/android0/functions $sys.usb.config
#    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 8194
    setprop sys.usb.state $sys.usb.config

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config $persist.sys.usb.config

on property:sys.usb.config=rndis
#    write /sys/class/android_usb/android0/enable 0
#    write /sys/class/android_usb/android0/idVendor 0bb4
#    write /sys/class/android_usb/android0/idProduct 0ffe
#    write /sys/class/android_usb/android0/functions $sys.usb.config
#    write /sys/class/android_usb/android0/bDeviceClass 224
#    write /sys/class/android_usb/android0/enable 1
    write /sys/devices/platform/android_usb/usb_function_switch 4
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
#    write /sys/class/android_usb/android0/enable 0
#    write /sys/class/android_usb/android0/idVendor 0bb4
#    write /sys/class/android_usb/android0/idProduct 0ffc
#    write /sys/class/android_usb/android0/functions $sys.usb.config
#    write /sys/class/android_usb/android0/bDeviceClass 224
#    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,diag
    write /sys/devices/platform/android_usb/usb_function_switch 12
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2060
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 14
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2062
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=cdc_ethernet
    write /sys/devices/platform/android_usb/usb_function_switch 512
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp
#    write /sys/class/android_usb/android0/enable 0
#    write /sys/class/android_usb/android0/idVendor 0bb4
#    write /sys/class/android_usb/android0/idProduct 0c93
#    write /sys/class/android_usb/android0/functions $sys.usb.config
#    write /sys/class/android_usb/android0/enable 1
    write /sys/devices/platform/android_usb/usb_function_switch 128
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp,adb
#    write /sys/class/android_usb/android0/enable 0
#    write /sys/class/android_usb/android0/idVendor 0bb4
#    write /sys/class/android_usb/android0/idProduct 0c93
#    write /sys/class/android_usb/android0/functions $sys.usb.config
#    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state $sys.usb.config

#`` HTC_IPT
# for USB IPT
service udhcpd0 /system/bin/logwrapper /system/bin/udhcpd
	disabled
	oneshot

service netsharing0_on /system/bin/netsharing net on
	disabled
	oneshot

service netsharing0_off /system/bin/netsharing net off
	disabled
	oneshot

service netsharing0_pass /system/bin/netsharing net_pass on
	disabled
	oneshot

on property:sys.usb.projector.enable=1
    write /sys/class/android_usb/f_projector/on 1

on property:sys.usb.projector.enable=0
    write /sys/class/android_usb/f_projector/on 0

