/dev/tegra-throughput	0666	system	system
/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_avpchannel	0660	media	media
/dev/tegra_audio_avpchannel	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660 	media 	media
/dev/ar0832*	0660	media	camera
/dev/tps61050-1	0660	media	camera
/dev/ov9726	0660	media	camera
/dev/tegra_camera	0660	media	camera
/dev/camera*	0660	media	camera
/dev/ov8825	0660	media	camera
/dev/focuser*	0660	media	camera
/dev/torch*	0660	media	camera
/dev/imx091 0660  media camera
/dev/ad5823 0660  media camera
/dev/adp1650	0660	media	camera
/dev/ov9740	0660	media	camera
/dev/spdif*	0660	system	audio
/dev/tegra_dc*	0666	system	system
/dev/ttyACM*	0660	radio	system
/dev/ttyACM3    0660    radio   log
/dev/mpu	0640	system	system
/dev/mpuirq	0640	system	system
/dev/accelirq	0640	system	system
/dev/timerirq	0640	system	system
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0666    system  system
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-dsi	0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp	0666	root	root
/dev/nvhost-mpe	0666	root	root
/dev/nvhost-vi	0666	root	root
/dev/video0	0660	media	camera
/dev/video1	0660	media	camera
/dev/tf_driver  0666    system  system
/dev/ttyHS0	0664	radio	system
/dev/ttyHS1	0664	root	system
/dev/ttyHS2	0660	bluetooth	bluetooth
/dev/gsmtty*	0660	radio	radio
/dev/gsmtty18	0777	media	media
/dev/gsmtty20	0666	radio	radio
/dev/gsmtty22	0666	radio	radio
/dev/gsmtty23	0666	radio	radio
/dev/gsmtty25	0666	radio	radio
/dev/gsmtty26	0666	radio	radio
/dev/ion	0666	system	system
/dev/pn544	0660	nfc	nfc
/dev/timerinfo	0444	system	system
/dev/akm8962_aot	0660   compass    system
/dev/taos	0640	system	system
/dev/block/mmcblk0p6 0660 radio system
/dev/block/platform/sdhci-tegra.3/by-name/MSC 0660 radio system
/sys/devices/system/cpu/cpufreq/gov_interactive* ../interactive/max_boost 0644 system system
/sys/devices/system/cpu/cpufreq/gov_interactive* ../interactive/go_maxspeed_load 0644 system system
